# Block heavy datasets and compressed archives
TESS_dataset/
archive.zip
MELD_text_model/MELD_dataset/

# Block heavy binary model weights
*.pth

# Block Python system artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/

# Block local configuration environments
venv/
env/
.env